<?xml version="1.0" encoding="utf-8" standalone="no"?><properties>      	    
    <breakTime>36000</breakTime>            	    
    <popUpSwitch>on</popUpSwitch>        	    
    <noticeWord>Beck/Neck</noticeWord>        	    
    <musicSwith>on</musicSwith>        	    
    <TTSSwitch>off</TTSSwitch>        	    
    <dayCountDown>2019-04-03</dayCountDown>        	    
    <mission>Job2</mission>        
</properties>