<?xml version="1.0" encoding="utf-8" standalone="no"?><properties>      	    
    <breakTime>36000</breakTime>

    <popUpSwitch>on</popUpSwitch>
    <!--<popUpPosition>rightBottom</popUpPosition>-->
    <popUpSize>middle</popUpSize>

    <noticeWord>没问题
1</noticeWord>

    <musicSwith>off</musicSwith>
    <!--windows平台英文语音-->
    <SpvTTSSwitch>off</SpvTTSSwitch>
    <!--windos平台中文语音-->
    <SpvTTSSwitchCh>on</SpvTTSSwitchCh>
    <FreeTTSSwitch>off</FreeTTSSwitch>
    <silence>off</silence>
    <dayCountDown>2019-12-31</dayCountDown>        	    
    <mission>xc finish</mission>




</properties>